<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="bwManagementApp.image.detail.title">Image</span> {{ image.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bwManagementApp.image.data">Data</span></dt>
                <dd>
                    <div *ngIf="image.data">
                        <a (click)="openFile(image.dataContentType, image.data)" jhiTranslate="entity.action.open">open</a>
                        {{ image.dataContentType }}, {{ byteSize(image.data) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="bwManagementApp.image.uploadDate">Upload Date</span></dt>
                <dd>
                    <span>{{ image.uploadDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
