<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assignment">
            <h2><span jhiTranslate="bwManagementApp.assignment.detail.title">Assignment</span> {{ assignment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bwManagementApp.assignment.description">Description</span></dt>
                <dd>
                    <span>{{ assignment.description }}</span>
                </dd>
                <dt><span jhiTranslate="bwManagementApp.assignment.comment">Comment</span></dt>
                <dd>
                    <span>{{ assignment.comment }}</span>
                </dd>
                <dt><span jhiTranslate="bwManagementApp.assignment.boxItem">Box Item</span></dt>
                <dd>
                    <div *ngIf="assignment.boxItem">
                        <a [routerLink]="['/item', assignment.boxItem?.id, 'view']">{{ assignment.boxItem?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="bwManagementApp.assignment.box">Box</span></dt>
                <dd>
                    <div *ngIf="assignment.box">
                        <a [routerLink]="['/item', assignment.box?.id, 'view']">{{ assignment.box?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assignment', assignment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
