<div class="row">
    

    <div class="col-lg-12">

        <zxing-scanner  (scanSuccess)="onCodeResult($event)"></zxing-scanner>
        <div class="input-group input-group-lg">
            <input type="number" class="mt-1 mr-1 form-control input-lg" [(ngModel)]="itemId" placeholder="Please enter Item ID"/>
        
        <span class="input-group-btn">
            <button class="btn mt-1 btn-primary btn-lg" type="button" (click)="onCodeSelected()"> <fa-icon icon="search"></fa-icon>&nbsp;<span jhiTranslate="entity.action.find">Find</span></button>
          </span>
        </div>
            
    </div>

</div>

